<?xml version="1.0"?>
<config>    
    <modules>
        <Oggetto_Label>
            <version>0.2.0</version>
        </Oggetto_Label>
    </modules>
    <frontend>
        <routers>
            <label>
                <use>standard</use>
                <args>
                    <module>Oggetto_Label</module>
                    <frontName>index</frontName>
                </args>
            </label>
        </routers>
        <layout>
            <updates>
                <label>
                    <file>label.xml</file>
                </label>
            </updates>
        </layout>
        <translate>
            <modules>
                <Oggetto_Label>
                    <files>
                        <default>Oggetto_Label.csv</default>
                    </files>
                </Oggetto_Label>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Oggetto_Label before="Mage_Adminhtml">Oggetto_Label_Adminhtml</Oggetto_Label>
                    </modules>
                </args>
            </adminhtml>
            <label>
                <use>admin</use>
                <args>
                    <module>Oggetto_Label</module>
                    <frontName>label</frontName>
                </args>
            </label>
            <catalog>
                <args>
                    <modules>
                        <quicklook before="Mage_Adminhtml_Catalog_ProductController">Oggetto_QuickLook_Product
                        </quicklook>
                    </modules>
                </args>
            </catalog>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Oggetto_Label>
                    <files>
                        <default>Oggetto_Label.csv</default>
                    </files>
                </Oggetto_Label>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <label_setup>
                <setup>
                    <module>Oggetto_Label</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </label_setup>
            <label_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </label_write>
            <label_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </label_read>
        </resources>
        <blocks>
            <label>
                <class>Oggetto_Label_Block_Index</class>
            </label>
            <catalog>
                <rewrite>
                    <product_list>Oggetto_Label_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <result>Oggetto_Label_Block_Product_Result</result>
                </rewrite>
            </catalogsearch>
            <catalogsearch>
                <rewrite>
                    <advanced_result>Oggetto_Label_Block_Product_Advanced_Result</advanced_result>
                </rewrite>
            </catalogsearch>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Oggetto_Label_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <label>
                <class>Oggetto_Label_Helper</class>
            </label>
        </helpers>
        <models>
            <attribute>
                <class>Oggetto_Label_Model</class>
            </attribute>
        </models>
     </global>
</config>
